body {
  background-color: #42f4c5;
  text-align: center;
  margin:auto;
}

.cards {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 10rem;
  border: solid;
  border-width: 1px;
  margin: 1rem;
}

/* #select-player-form-div, #name-form {
  text-align: center ;
}

#quiz-card-form {
  justify-content:center ;
} */
